.section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
  }
  .section2 .container .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 12px;
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 25px;
    padding-top: 4px;
    color: black;
    margin: 0;
  }
  .section2 .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: black;
    font-weight: 650;
  }
  .section2 .container .items .info {
    padding-left: 10px;
    color: rgb(243, 168, 7);
  }
  .section2 .container .items .img img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.5);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .social-media a ion-icon {
    color: white;
    background-color: black;
  }
  .social-media a:hover ion-icon {
    color: red;
    transform: translate(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
     color: rgb(0,250,225);
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 20px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
     color: rgb(0,250,225);
  }
  .footer2 .div:hover {
cursor:pointer;
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
  .menu {
    visibility: hidden;
  }
  .heading1 .ham:active {
    color: red;
  }
  .items {
    overflow: hidden;
  }
